{% extends 'halaman/base.html' %}
{%  load static %}
{% block content %}
 <!-- blog -->
                    <div class="mil-p-0-160" id="blog">
                        <div class="container">
                            <div class="row mil-aie mil-mb30">
                                <div class="col-md-6">
                                    <p class="mil-stylized mil-m2 mil-mb60 mil-up">Newsletter</p>
                                    <h2 class="mil-head1 mil-mb60 mil-up">Latest from <span class="mil-a2">Blog</span></h2>
                                </div>
                                <div class="col-md-6">
                                    <p class="mil-stylized mil-m1 mil-tar mil-768-tal mil-mb60 mil-up"><a href="/blog-stl.html" class="mil-arrow-link mil-c-gone">View all publications</a></p>
                                </div>
                            </div>
                            <div class="swiper-container mil-blog-slider">
                                <div class="swiper-wrapper mil-c-swipe mil-c-dark">
                                    <div class="swiper-slide">
                                        <div class="mil-blog-card">
                                            <div class="mil-cover mil-up">
                                                <div class="mil-hover-frame">
                                                    <img src="{% static 'frontend/img/blog/9.jpg'%}" alt="cover" class="mil-scale-img" data-value-1="1.15" data-value-2="1">
                                                </div>
                                                <div class="mil-badges">
                                                    <div class="mil-category">design</div>
                                                    <div class="mil-date">29.08.24</div>
                                                </div>
                                            </div>
                                            <a href="publication-stl.html" class="mil-descr mil-c-gone">
                                                <div class="mil-text-frame">
                                                    <h4 class="mil-head4 mil-max-2row-text mil-mb20 mil-up">How to Become a Graphic Designer in 10 Simple Steps</h4>
                                                    <p class="mil-text-md mil-max-2row-text mil-up">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sequi commodi dignissimos optio, beatae, eos necessitatibus nisi. Nam cupiditate consectetur nostrum qui! Repellat natus nulla, nisi aliquid, asperiores impedit tempora sequi est reprehenderit cumque explicabo, dicta. Rem nihil ullam totam ea voluptas quibusdam repudiandae.</p>
                                                </div>
                                                <div class="mil-up mil-768-gone">
                                                    <div class="mil-stylized-btn">
                                                        <i class="fal fa-arrow-up"></i>
                                                        <span>Read more</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="mil-blog-card">
                                            <div class="mil-cover mil-up">
                                                <div class="mil-hover-frame">
                                                    <img src="{% static 'frontend/img/blog/10.jpg'%}" alt="cover" class="mil-scale-img" data-value-1="1.15" data-value-2="1">
                                                </div>
                                                <div class="mil-badges">
                                                    <div class="mil-category">Branding</div>
                                                    <div class="mil-date">29.08.24</div>
                                                </div>
                                            </div>
                                            <a href="publication-stl.html" class="mil-descr mil-c-gone">
                                                <div class="mil-text-frame">
                                                    <h4 class="mil-head4 mil-max-2row-text mil-mb20 mil-up">10 Essential Tools Every Graphic Designer Should Master</h4>
                                                    <p class="mil-text-md mil-max-2row-text mil-up">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sequi commodi dignissimos optio, beatae, eos necessitatibus nisi. Nam cupiditate consectetur nostrum qui! Repellat natus nulla, nisi aliquid, asperiores impedit tempora sequi est reprehenderit cumque explicabo, dicta. Rem nihil ullam totam ea voluptas quibusdam repudiandae.</p>
                                                </div>
                                                <div class="mil-up mil-768-gone">
                                                    <div class="mil-stylized-btn">
                                                        <i class="fal fa-arrow-up"></i>
                                                        <span>Read more</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="mil-blog-card">
                                            <div class="mil-cover mil-up">
                                                <div class="mil-hover-frame">
                                                    <img src="{% static 'frontend/img/blog/11.jpg'%}" alt="cover" class="mil-scale-img" data-value-1="1.15" data-value-2="1">
                                                </div>
                                                <div class="mil-badges">
                                                    <div class="mil-category">Art</div>
                                                    <div class="mil-date">29.08.24</div>
                                                </div>
                                            </div>
                                            <a href="publication-stl.html" class="mil-descr mil-c-gone">
                                                <div class="mil-text-frame">
                                                    <h4 class="mil-head4 mil-max-2row-text mil-mb20 mil-up">From Concept to Creation: The Design Process Explained</h4>
                                                    <p class="mil-text-md mil-max-2row-text mil-up">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sequi commodi dignissimos optio, beatae, eos necessitatibus nisi. Nam cupiditate consectetur nostrum qui! Repellat natus nulla, nisi aliquid, asperiores impedit tempora sequi est reprehenderit cumque explicabo, dicta. Rem nihil ullam totam ea voluptas quibusdam repudiandae.</p>
                                                </div>
                                                <div class="mil-up mil-768-gone">
                                                    <div class="mil-stylized-btn">
                                                        <i class="fal fa-arrow-up"></i>
                                                        <span>Read more</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="mil-blog-card">
                                            <div class="mil-cover mil-up">
                                                <div class="mil-hover-frame">
                                                    <img src="{% static 'frontend/img/blog/12.jpg'%}" alt="cover" class="mil-scale-img" data-value-1="1.15" data-value-2="1">
                                                </div>
                                                <div class="mil-badges">
                                                    <div class="mil-category">Interior</div>
                                                    <div class="mil-date">29.08.24</div>
                                                </div>
                                            </div>
                                            <a href="publication-stl.html" class="mil-descr mil-c-gone">
                                                <div class="mil-text-frame">
                                                    <h4 class="mil-head4 mil-max-2row-text mil-mb20 mil-up">The Ultimate Guide to UI/UX Design for Beginners</h4>
                                                    <p class="mil-text-md mil-max-2row-text mil-up">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sequi commodi dignissimos optio, beatae, eos necessitatibus nisi. Nam cupiditate consectetur nostrum qui! Repellat natus nulla, nisi aliquid, asperiores impedit tempora sequi est reprehenderit cumque explicabo, dicta. Rem nihil ullam totam ea voluptas quibusdam repudiandae.</p>
                                                </div>
                                                <div class="mil-up mil-768-gone">
                                                    <div class="mil-stylized-btn">
                                                        <i class="fal fa-arrow-up"></i>
                                                        <span>Read more</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- blog end -->

{% endblock content %}
