{% load static %}
        <!-- fixed elements -->
        <div class="mil-fixed">
            <div class="mil-top-panel-2">
                <div class="container">
                    <div class="mil-left-side mil-tp-transition" id="swupTpLeft">
                        <a href="#top" class="mil-logo mil-scroll-to" data-no-swup>
                            <i class="far fa-cube"></i>
                            <span>Pixy</span>
                        </a>
                    </div>

                    <div class="mil-onepage-nav">
                        <ul>
                            <li><a href="/blog/" class="mil-nav-link">Blog</a></li>  <!-- Ganti dengan path absolut -->
                            <li><a href="{% url 'kategori_list' %}" class="mil-nav-link">Kategori</a></li>
                        </ul>
                    </div>

                    <div class="mil-buttons-tp-frame mil-c-gone">
                        <div class="mil-buttons">
                            <a href="/dashboard" class="mil-tp-btn"><i class="fal fa-envelope"></i></a>

                            <div class="mil-tp-btn">
                                <div class="mil-menu-btn"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mil-menu-frame mil-menu-frame-2">
                <div class="mil-menu-window">
                    <div class="container">
                        <div class="row mil-no-g">
                            <div class="col-lg-6">
                                <div class="mil-left-side">
                                    <div class="mil-menu-part mil-inner-scroll" id="swupMenu">
                                        <ul class="mil-main-menu mil-c-gone">
                                            <li class="mil-has-children">
                                                <a href="#">Template style</a>
                                                <ul>
                                                    <li><a href="home-1.html" target="_blank" data-no-swup>Friendly</a></li>
                                                    <li class="mil-current"><a href="home-4.html" target="_blank" data-no-swup>Stylish</a></li>
                                                </ul>
                                            </li>
                                            <li class="mil-has-children">
                                                <a href="#">Home type</a>
                                                <ul>
                                                    <li class="mil-current"><a href="home-4.html">Corporate</a></li>
                                                    <li><a href="home-5.html">Agency</a></li>
                                                    <li><a href="home-6.html">Personal</a></li>
                                                </ul>
                                            </li>
                                            <li class="mil-has-children">
                                                <a href="#">Portfolio</a>
                                                <ul>
                                                    <li><a href="portfolio-1-stl.html">Grid type 1</a></li>
                                                    <li><a href="portfolio-2-stl.html">Grid type 2</a></li>
                                                    <li><a href="portfolio-3-stl.html">Grid type 3</a></li>
                                                </ul>
                                            </li>
                                            <li class="mil-has-children">
                                                <a href="#">Pages</a>
                                                <ul>
                                                    <li><a href="team-stl.html">Team</a></li>
                                                    <li><a href="/contact-stl.html">Contact</a></li>
                                                    <li><a href="services-stl.html">Services</a></li>
                                                    <li><a href="service-stl.html">Service single</a></li>
                                                    <li><a href="/blog-stl.html">Blog</a></li>
                                                    <li><a href="/snippets/kategori_list.html">Kategori</a></li>
                                                    <li><a href="publication-stl.html">Publication</a></li>
                                                    <li><a href="404-stl.html">404</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mil-bottom-part">
                                        <p class="mil-text-sm">©2024. All rights reserved.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mil-right-side">
                                    <div class="mil-links-part">
                                        <ul class="mil-links">
                                            <li><a href="#">Privacy policy</a></li>
                                            <li><a href="#">Therms and conditions</a></li>
                                            <li><a href="#">Site map</a></li>
                                            <li><a href="#">Careers</a></li>
                                        </ul>
                                    </div>
                                    <div class="mil-blog-part">
                                        <div class="mil-blog-section">
                                            <div class="mil-jcb mil-aic">
                                                <h4 class="mil-head4 mil-mb30">Latest from blog</h4>
                                                <div class="mil-sb-nav mil-mb30">
                                                    <div class="mil-slider-btn mil-sb-prev mil-c-gone"><i class="fal fa-arrow-left"></i></div>
                                                    <div class="mil-slider-btn mil-sb-next mil-c-gone"><i class="fal fa-arrow-right"></i></div>
                                                </div>
                                            </div>
                                            <div class="swiper-container mil-blog-slider-sm">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <a href="publication-stl.html" class="mil-blog-card-sm mil-c-gone">
                                                            <div class="mil-cover">
                                                                <div class="mil-hover-frame">
                                                                    <img src="{% static 'frontend/img/blog/9.jpg'%}" alt="cover">
                                                                </div>
                                                            </div>
                                                            <div class="mil-text-frame">
                                                                <h4 class="mil-head6 mil-max-1row-text">How to Become a Graphic Designer in 10 Simple Steps</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="publication-stl.html" class="mil-blog-card-sm mil-c-gone">
                                                            <div class="mil-cover">
                                                                <div class="mil-hover-frame">
                                                                    <img src="{% static 'frontend/img/blog/10.jpg'%}" alt="cover">
                                                                </div>
                                                            </div>
                                                            <div class="mil-text-frame">
                                                                <h4 class="mil-head6 mil-max-1row-text">10 Essential Tools Every Graphic Designer Should Master</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="publication-stl.html" class="mil-blog-card-sm mil-c-gone">
                                                            <div class="mil-cover">
                                                                <div class="mil-hover-frame">
                                                                    <img src="{% static 'frontend/img/blog/11.jpg'%}" alt="cover">
                                                                </div>
                                                            </div>
                                                            <div class="mil-text-frame">
                                                                <h4 class="mil-head6 mil-max-1row-text">The Ultimate Guide to UI/UX Design for Beginners</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="publication-stl.html" class="mil-blog-card-sm mil-c-gone">
                                                            <div class="mil-cover">
                                                                <div class="mil-hover-frame">
                                                                    <img src="{% static 'frontend/img/blog/12.jpg'%}" alt="cover">
                                                                </div>
                                                            </div>
                                                            <div class="mil-text-frame">
                                                                <h4 class="mil-head6 mil-max-1row-text">How to Create Stunning Visuals with Minimal Effort</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mil-menu-social">
                                            <ul class="mil-social mil-c-gone">
                                                <li><a href="#" target="_blank" data-no-swup><i class="far fa-circle"></i></a></li>
                                                <li><a href="#" target="_blank" data-no-swup><i class="far fa-circle"></i></a></li>
                                                <li><a href="#" target="_blank" data-no-swup><i class="far fa-circle"></i></a></li>
                                                <li><a href="#" target="_blank" data-no-swup><i class="far fa-circle"></i></a></li>
                                                <li><a href="#" target="_blank" data-no-swup><i class="far fa-circle"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fixed elements end -->
